.Rproj.user
.Rhistory
.RData
amyloid_ngram2.Rproj
amyloids.Rproj
publication/main.tex.backup
publication/main.aux
publication/main.bbl
publication/main.ilg
publication/main.log
publication/main.synctex.gz
